<html>

<head>
    <title>{{ title }}</title>
    {% include 'style.html' %}
</head>

<body>
    <div class="container">
        {% for topic, sequences in topics.items() | sort %}
        <h1>{{ topic }}</h1>

        <table class="history-grid">
            <thead>
                <tr>
                    <th width="100px">IG</th>
                    <th width="100px">IG Version</th>
                    <th width="100px">FHIR Version</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for sequence, editions in sequences.items() | sort(reverse=True) %}
                <tr class="sequence">
                    <td colspan="4">{{ sequence }}</td>
                </tr>
                {% for edition in editions | sort(attribute="name") %}
                <tr>
                    <td><a href="{{ edition.url }}">{{ edition.name }}</a></td>
                    <td><a href="{{ edition.url }}">{{ edition.ig_version }}</a></td>
                    <td>{{ ", ".join(edition.fhir_version) }}</td>
                    <td>{{ edition.description }}</td>
                </tr>
                {% endfor %}
                {% endfor %}
            </tbody>
        </table>
        {% endfor %}
    </div>
</body>

</html>
