<html>

<head>
    <title>{{ title | safe_escape }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {% include 'style.html' %}
</head>

<body>
    <div class="container">
        {% for topic, sequences in topics.items() | sort_sequences %}
        <h1>{{ topic | safe_escape }}</h1>

        <table class="history-grid">
            <thead>
                <tr>
                    <th width="100px">IG</th>
                    <th width="100px">Version</th>
                    <th>Beschreibung</th>
                </tr>
            </thead>
            <tbody>
                {% for sequence, editions in sequences.items() | sort(reverse=True) %}
                <tr class="sequence">
                    <td colspan="4">{{ sequence | safe_escape }}</td>
                </tr>
                {% for edition in editions | sort(attribute="ig_version", reverse=True) | sort(attribute="name") %}
                <tr>
                    <td><a href="{{ edition.url }}">{{ edition.name | safe_escape }}</a></td>
                    <td><a href="{{ edition.url }}">{{ edition.ig_version }}</a></td>
                    <td>{{ edition.description | safe_escape }}</td>
                </tr>
                {% endfor %}
                {% endfor %}
            </tbody>
        </table>
        {% endfor %}
    </div>
</body>

</html>
